{% assign format='' %}
{% include getcode.html %}

{% if usedtabs != '' %}

 {% assign isLink='false' %}
 {% assign isMore='false' %}
 {% assign isPhp='false' %}
 {% assign isYml='false' %}
 {% assign isXml='false' %}

<!-- element id {% increment GlobalElementCounter %} -->

{% if usedtabs contains 'link' %}
  {% assign isActive='link' %}
  {% assign isLink='true' %}
  {% capture panelIdLink %}panel{{GlobalElementCounter}}-5{% endcapture %}
{% endif %}

{%if usedtabs contains 'more' %}
  {% assign isActive='more'%}
  {% assign isMore='true' %}
  {% capture panelIdMore %}panel{{GlobalElementCounter}}-4{% endcapture %}
{% endif %}

{%if usedtabs contains 'php' %}
  {% assign isActive='php' %}
  {% assign isPhp='true' %}
  {% capture panelIdPhp %}panel{{GlobalElementCounter}}-3{% endcapture %}
{% endif %}

{%if usedtabs contains 'yml' %}
  {% assign isActive='yml' %}
  {% assign isYml='true' %}
  {% capture panelIdYml %}panel{{GlobalElementCounter}}-2{% endcapture %}
{% endif %}

{%if usedtabs contains 'xml' %}
  {% assign isActive='xml' %}
  {% assign isXml='true' %}
  {% capture panelIdXml %}panel{{GlobalElementCounter}}-1{% endcapture %}
{% endif %}

   <div class="row">
      <div class="large-8 columns">
        
        <dl class="tabs" data-tab>
          {% if isXml == 'true' %}<dd class="content{% if isActive == 'xml' %} active{% endif %}"><a href="#{{panelIdXml}}">XML</a></dd>{% endif %}
          {% if isYml == 'true' %}<dd class="content{% if isActive == 'yml' %} active{% endif %}"><a href="#{{panelIdYml}}">YML</a></dd>{% endif %}
          {% if isPhp == 'true' %}<dd class="content{% if isActive == 'php' %} active{% endif %}"><a href="#{{panelIdPhp}}">Annotations</a></dd>{% endif %}
          {% if isMore == 'true' %}<dd class="content{% if isActive == 'more' %} active{% endif %}"><a href="#{{panelIdMore}}">More info</a></dd>{% endif %}
          {% if isLink == 'true' %}<dd class="content{% if isActive == 'link' %} active{% endif %}"><a href="#{{panelIdLink}}">Links</a></dd>{% endif %}
        </dl>
        
        <div class="tabs-content">
            {% if isXml == 'true' %}
                <div class="content active" id="{{panelIdXml}}">
                    {% assign format='xml/' %}
                    {% include getcode.html %}
                </div>
            {% endif %}
            {% if isYml == 'true' %}
                <div class="content" id="{{panelIdYml}}">
                    {% assign format='yml/' %}
                    {% include getcode.html %}
                </div>
           {% endif %}
           {% if isPhp == 'true' %}
                <div class="content" id="{{panelIdPhp}}">
                    {% assign format='php/' %}
                    {% include getcode.html %}
                </div>
           {% endif %}
           {% if isMore == 'true' %}
                <div class="content" id="{{panelIdMore}}">
                    {% assign format='more/' %}
                    {% include getcode.html %}
                </div>
           {% endif %}
           {% if isLink == 'true' %}
                <div class="content" id="{{panelIdLink}}">
                    {% assign format='link/' %}
                    {% include getcode.html %}
                </div>
           {% endif %}
           
        </div>
      </div>
      
      {% if imgfile != '' %}
         <div class="large-4 large-centered columns">
            <img alt="Model" src="{{imgsource}}{{imgfile}}" style="margin-top: 2.7rem;" />
         </div>
      {% endif %}
    </div>

{% endif %}
