<div class="ft">
    <div class="row">
      <div class="large-12 columns">
        <h3><a href="/">ORM Cheat Sheet</a></h3>
        <p>Created by <a href="http://www.inventic.eu">Inventic</a> developed by community</p>
      </div>
    </div>
  </div>

<a class="githublink" href="https://github.com/atlantic18/ormcheatsheet"><img src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script>
      $(document).foundation();

      $("pre code").each(function() { $(this).attr("data-language", this.className); });
      Rainbow.color();
    </script>
</body>
</html>
