 <div class="hd">
    <div class="row">
      <div class="large-5 columns">
        <h1 id="top"><a href="/">ORM Cheat Sheet</a></h1>
      </div>
      <div class="large-7 columns">
        <ul class="button-group radius">
          <li><a href="/" class="small button {% if framework != 'doctrine2' %}secondary{% endif %}">Doctrine 2</a></li>
          <li><a href="/doctrine/" class="small button disabled {% if framework != 'doctrine1' %}secondary{% endif %}">Doctrine</a></li>
          <li><a href="/propel/" class="small button disabled {% if framework != 'propel' %}secondary{% endif %}">Propel</a></li>
          <li><a href="/cakephp/" class="small button disabled {% if framework != 'cakephp' %}secondary{% endif %}">Cake PHP</a></li>
          <li><a href="/about/" class="small button disabled {% if framework != 'about' %}secondary{% endif %}">About</a></li>
        </ul>
      </div>
    </div>


    <div class="magellan" data-magellan-expedition="fixed">
      <div class="row">
        <div class="large-12 columns">
          <dl class="sub-nav">
            <dd data-magellan-arrival="build"><a href="#top">Top</a></dd>
            {% if framework == 'doctrine2' %}{% include navigation_doctrine2.html %}{% endif %}
            {% if framework == 'doctrine' %}{% include navigation_doctrine1.html %}{% endif %}
            {% if framework == 'cakephp' %}{% include navigation_general.html %}{% endif %}
            {% if framework == 'propel' %}{% include navigation_general.html %}{% endif %}
            {% if framework == 'about' %}{% include navigation_about.html %}{% endif %}
          </dl>
        </div>
      </div>
    </div>
  </div>
