<h4>Primary key</h4>
{% assign file='primarykey.md' %}
{% assign imgfile='primarykey.png'%}
{% assign usedtabs='xml, yml, php,  link' %}
{% include section.html %}

{% assign file='primarykeyoptions.md' %}
{% assign imgfile='primarykey.png'%}
{% assign usedtabs='xml, yml, php,  link' %}
{% include section.html %}

<h4>Regular field</h4>
{% assign file='regularfield.md' %}
{% assign imgfile='field.png'%}
{% assign usedtabs='xml, yml, php,  link' %}
{% include section.html %}

{% assign file='regularfieldoptions.md' %}
{% assign imgfile='field.png'%}
{% assign usedtabs='xml, yml, php,  link' %}
{% include section.html %}
