<h1>ORM Designer</h1>
<h2 id="designer"></h2>

<p>
<img alt="Model" src="images/designer/ormd.png"  />
</p>

<p>Definitions on this website were modeled and generated ORM Designer, code generator and visualization tool for ORM frameworks.</p>

<div class="row">
  <div class="large-8 columns">
  <h3>Visualize your models</h3>
  <p>ORM Designer visualizes your models for you, easy design and editing:
    <ul>
      <li>Design the schema, no more painstakingly writing the definitions</li>
      <li>Objects edited directly in the visual model</li>
      <li>Diagram handles advanced ORM concepts like inheritance and ORM properies</li>
    </ul>
  </p>
  </div>

  <div class="large-4 large-centered columns">
    <figure>
      <img src="/images/designer/entityeditor.png" alt="Entity editor">
      <figcaption>Entity editor</figcaption>
    </figure>
  </div>
 
</div>

<div class="row">
  <div class="large-8 columns">
  <h3>Export your changes</h3>
  <p>Any changes to the model can be exported at will:
    <ul>
      <li>Repeatable editing and export</li>
      <li>Export of standardized ORM Definitions</li>
      <li>No typos or syntax errors</li>
    </ul>
  </p>
  </div>
    

  <div class="large-4 large-centered columns">
    <figure>
      <img src="/images/designer/export.png" alt="Export dialog">
      <figcaption>Export dialog</figcaption>
    </figure>
  </div>
</div>

<div class="row">
  <div class="large-8 columns">
  <h3>Import your projects</h3>
  <p>Supports quick and simple import of your models:
      <ul>
      <li>Powerfull import function</li>
      <li>Support for XML, YAML and PHP code</li>
      <li>Possibility to customize your data types, naming styles and predefined values</li>
    </ul>
  </p>
  </div>

  <div class="large-4 large-centered columns">
    <figure>
      <img src="/images/designer/big_model.png" alt="Atlantic model">
      <figcaption>Company website and E-commerce</figcaption>
    </figure>
  </div>
</div>

<h1>ORM Designer</h1>
<h2 id="designer"></h2>

<p>
<img alt="Model" src="images/designer/ormd.png"  />
</p>

<div class="row">
  <div class="large-8 columns">
  <p>Definitions on this website were modeled and generated ORM Designer, code generator and visualization tool for ORM frameworks.</p>
  </div>

  <div class="large-4 large-centered columns">
  </div>
  
</div>


<div class="row">
  <div class="large-8 columns">
  <h3>Visualize your models</h3>
  <p>ORM Designer visualizes your models for you, easy design and editing:
    <ul>
      <li>Design the schema, no more painstakingly writing the definitions</li>
      <li>Objects edited directly in the visual model</li>
      <li>Diagram handles advanced ORM concepts like inheritance and ORM properies</li>
    </ul>
  </p>
  </div>

  <div class="large-4 large-centered columns">
  <img alt="Model" src="images/designer/entityeditor.png"/>
  </div>
 
</div>

<div class="row">
  <div class="large-8 columns">
  <h3>Export your changes</h3>
  <p>Any changes to the model can be exported at will:
    <ul>
      <li>Repeatable editing and export</li>
      <li>Export of standardized ORM Definitions</li>
      <li>No typos or syntax errors</li>
    </ul>
  </p>
  </div>

  <div class="large-4 large-centered columns">
  <img alt="Model" src="images/designer/export.png"/>
  </div>
    
</div>

<div class="row">
  <div class="large-8 columns">
  <h3>Import your projects</h3>
  <p>Supports quick and simple import of your models:
      <ul>
      <li>Powerfull import function</li>
      <li>Support for XML, YAML and PHP code</li>
      <li>Possibility to customize your data types, naming styles and predefined values</li>
    </ul>
  </p>
  </div>

  <div class="large-4 large-centered columns">
  <img alt="Model" src="images/designer/big_model.png"/>
  </div>
  
</div>
