<h1>Import your model now</h1>
<h2 id="designer">ORM Designer</h2>

<img alt="Model" src="images/ormd.png"  />

<p>Definitions on this website were modeled and generated ORM Designer, code generator and visualization tool for ORM frameworks.</p>

<div class="row">
  <div class="large-8 columns">
  <p>Visualize your models</p>
  <p>ORM Designer visualizes your models for you, easy design and editing
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </p>
  </div>

  <div class="large-4 large-centered columns">
  <img alt="Model" src="images/placeholder.png" style="margin-top: 2.7rem;" />
  </div>
 
</div>

<div class="row">
  <div class="large-8 columns">
  <h3>Export your changes</h3>
  <p>
  prubezne exportuj
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </p>
  </div>

  <div class="large-4 large-centered columns">
  <img alt="Model" src="images/placeholder.png" style="margin-top: 2.7rem;" />
  </div>
    
</div>

<div class="row">
  <div class="large-8 columns">
  <h3>Import your projects</h3>
  <p>
      <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </p>
  </div>

  <div class="large-4 large-centered columns">
  <img alt="Model" src="images/placeholder.png" style="margin-top: 2.7rem;" />
  </div>
  
</div>
