<div class="row">
  <div class="large-6 columns">
    <h1 id="designer">ORM Designer</h1>
  </div>
  <div class="large-6 columns">
    <br/>
    <a href="http://www.orm-designer.com "><h3>visit website</h3></a>
  </div>
</div>
  
<p>
  <a href="http://www.orm-designer.com "><img alt="ORM Designer application" src="/images/designer/ormd.png" /></a>
</p>

<br/>
<br/>

<div class="row">
  <div class="large-8 columns">
  
    <p>Definitions on this website were modeled and generated ORM Designer, code generator and visualization tool for ORM frameworks.</p>
  
    <p>ORM Designer greatly simplifies your work, saves your time and generates clean and elegant code complying to the coding standards. Every example entity and relation used for this Cheatsheet can be achieved with just a few clicks.</p>
  
    <br/>
  
    <p> Learn more at <a href="http://www.orm-designer.com ">www.orm-designer.com </a></p>
  
  </div>

  <div class="large-4 large-centered columns">
    <img  class="image" src="/images/designer/entityeditor.png" alt="Entity editor">
    <p class="image-caption">Entity editor</p>
   </div>
  
</div>

<div class="row">
  <div class="large-8 columns">
  <h3>Visualize your models</h3>
  <p>ORM Designer visualizes your models for you, easy design and editing:
    <ul>
      <li>Design the schema, no more painstakingly writing the definitions</li>
      <li>Objects edited directly in the visual model</li>
      <li>Diagram handles advanced ORM concepts like inheritance and ORM properies</li>
    </ul>
    
    <br/>
    
    <p>See the <a href="http://help.orm-designer.com/en/product-tour">product tour</a> to learn how the ORM Designer works.</p>
        
  </p>
  </div>

  <div class="large-4 large-centered columns">
    <img class="image" src="/images/designer/big_model.png" alt="Atlantic model">
    <p class="image-caption">Atlantic model</p>
    </div>
 
</div>

<div class="row">
  <div class="large-8 columns">
  <h3>Export your definition files</h3>
  <p>Any changes to the model can be exported at will:
    <ul>
      <li>Repeatable editing and export</li>
      <li>Export of standardized ORM Definitions</li>
      <li>No typos or syntax errors</li>
    </ul>
    
    <br/>
    
    <p>Check the docummentation to see <a href="http://help.orm-designer.com/en/{% if framework == 'cakephp' %}cakephp-new-project#h3{% endif %}{% if framework != 'cakephp' %}{{framework}}-import-project#h4{% endif %}">how to export your project</a>.</p>
    
  </p>
  </div>
    

  <div class="large-4 large-centered columns">
    <img class="image" src="/images/designer/export.png" alt="Export dialog">
    <p class="image-caption">Export dialog</p>
    </div>
</div>

<div class="row">
  <div class="large-8 columns">
  <h3>Import your projects</h3>
  <p>Supports quick and simple import of your models:
      <ul>
      <li>Powerfull import function</li>
      <li>Support for XML, YAML and PHP code</li>
      <li>Possibility to customize your data types, naming styles and predefined values</li>
    </ul>
    
    <br/>
    
    <p>Check the docummentation to see <a href="http://help.orm-designer.com/en/{% if framework == 'cakephp' %}cakephp-new-project{% endif %}{% if framework != 'cakephp' %}{{framework}}-import-project{% endif %}">how to import your project</a>.</p>
    
  </p>
  </div>


  <div class="large-4 large-centered columns">
    <img class="image" src="/images/designer/import.png" alt="Import dialog">
    <p class="image-caption">Import dialog</p>
    </div>
</div>


<div class="row">
  <div class="large-7 columns">
    <div class="download-trial">
      <center>
      <h2>Stop writing definitions manually</h2>
      <p class="download-trial-text">Download 14-day trial version. No credit card needed.</p>
      <p><a href="http://www.orm-designer.com/download-orm-designer "><img src="/images/designer/button.png" alt="Download button"> </a></p>
      </center>
    </div>
  </div>
</div>

<!-- <img src="http://i.imgur.com/Dq4JJfe.png" alt="Trial button"> -->